{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!-- Ajout d'un bouton pour faire apparaître la boîte de dialogue -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-dev-modal">
    Add Task
</button>
<!-- Ajout du modal contenant le formulaire -->
<div class="modal fade " id="add-dev-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Task</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'task:create' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div>
                        <button class="btn btn-primary" type="submit">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>